.container{
    background: transparent;
}

.Recipebox {
    border: none !important;
}

.custom-link {
    text-decoration: none; 
    color: red; 
  }

#searchBTN{
    color: red; 
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid yellow;
}

#inputValue{
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid yellow;
    margin-right: 8px;
    color: black;

}